body{
    margin: 0;
    padding: 0;
    height: 100%;
    
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px, 0;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
    
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #FEFBF3;
    position: relative;
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position:absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition:width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
    
}

.text-box{
    position: absolute;
    bottom: 20px;
    color: white;
}

.text-box p{
    font-size: 40px;
    font-weight: 505;
}

.text-box h1{
    font-family: 'Roboto Slab', serif;
    font-size: 150px;
    line-height: 5px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(pics/back2back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}


@keyframes back{
   100%{ background-position: 2000px 0;
         }
}

.text-box h3{
    font-size: 30px;
    font-weight: 500;
}


.container{
    height: 100%;
    width: 177vh;
    background-image: url(pics/background.png);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: absolute;
}
.logo{
    position: relative;
    top: 10px;
    width: 100px;
    cursor: pointer;

}
.cart{
    width: 30px;
    cursor: pointer;

}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text-box a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    
}
.text-box a span{
    font-size: 20px;
    line-height: 5px;
    margin-left: 5px;
    
}
.socialicons{
    position: absolute;
    right: 5%;
    bottom: 2%;
}

.socialicons img{
    width: 25px;
    display: block;
    margin: 25px 5px;
}